---
apiVersion: v1
kind: ConfigMap
metadata:
  name: metricbeat-daemonset-config
  namespace: "{{ kube_system_namespace }}"
  labels:
    k8s-app: metricbeat
data:
  metricbeat.yml: |-
{% if stack_version is version('7.10.0', '>=') %}
    queue.disk:
      max_size: 1GB
{% endif %}
    metricbeat.config.modules:
      path: ${path.config}/modules.d/*.yml
      reload.enabled: false
    metricbeat.autodiscover:
      providers:
        - type: kubernetes
          host: ${NODE_NAME}
          templates:
            - condition:
                or:
                  - contains:
                      kubernetes.container.image: nginx
                  - contains:
                      kubernetes.container.image: nginx-ingress-controller
              config:
                - module: nginx
                  period: 10s
                  metricsets: ["stubstatus"]
                  hosts: ["${data.host}:8080"]
                  server_status_path: "server-status"
            - condition:
                contains:
                  kubernetes.container.image: mysql
              config:
                - module: mysql
                  period: 10s
                  metricsets: ["status"]
                  hosts: ["root:${MYSQL_ROOT_PASSWORD}@tcp(${data.host}:${data.port})/"]
            - condition:
                contains:
                  kubernetes.container.image: address-finder
              config:
                - module: http
                  period: 10s
                  hosts: ["${data.host}:5000"]
                  path: "/api/"
                  metricsets:
                    - json
                  namespace: "json_response"
                  method: "GET"
                  request.enabled: true
                  response.enabled: true
            - condition:
                contains:
                  kubernetes.container.image: redis
              config:
                - module: redis
                  metricsets: ["info", "keyspace"]
                  hosts: "${data.host}:6379"
            - condition:
                contains:
                  kubernetes.container.image: httpd
              config:
                - module: apache
                  metricsets: ["status"]
                  hosts: "${data.host}:80"
                  period: 10s
            - condition:
                contains:
                  kubernetes.container.image: elasticsearch
              config:
                - module: elasticsearch
                  metricsets: ["node", "node_stats"]
                  hosts: "${data.host}:9200"
                  period: 10s
            - condition:
                contains:
                  kubernetes.container.image: kibana
              config:
                - module: kibana
                  metricsets: ["status"]
                  hosts: "${data.host}:5610"
                  period: 10s
            - condition:
                contains:
                  kubernetes.container.image: haproxy
              config:
                - module: haproxy
                  metricsets: ["info", "stat"]
                  hosts: "${data.host}:8080"
                  period: 10s
            - condition:
                contains:
                  kubernetes.container.image: postgresql
              config:
                - module: postgresql
                  metricsets: ["database","bgwriter","activity"]
                  hosts: "postgres://${data.host}"
                  username: admin
                  password: ${POSTGRESQL_ADMIN_PASSWORD}
                  period: 10s
    processors:
      - add_cloud_metadata:
      - add_docker_metadata:
      - add_kubernetes_metadata:
          in_cluster: true
      - add_host_metadata:
      - drop_fields:
          when:
            has_fields: ['kubernetes.labels.app']
          fields:
            - 'kubernetes.labels.app'

    output.elasticsearch:
      hosts: ['${ELASTICSEARCH_HOST}']
      username: ${ELASTICSEARCH_USERNAME}
      password: ${ELASTICSEARCH_PASSWORD}
      index: "metricbeat-%{[agent.version]}-%{+yyyy.MM.dd}"
      ssl.enabled: true
      ssl.verification_mode: none
    monitoring.enabled: true
    setup.kibana.host: ${KIBANA_HOST}
    setup.kibana.username: ${KIBANA_USERNAME}
    setup.kibana.password: ${KIBANA_PASSWORD}
    setup.template.overwrite: true
{% if stack_version is version('7.12.0', '>=') %}
    setup.template.name: "metricbeat"
    setup.template.pattern: "metricbeat-*"
    setup.template.settings.index.routing.allocation.include._tier_preference: data_hot
{% endif %}
    instrumentation:
      enabled: true
      environment: production
      hosts:
        - "${ELASTIC_APM_SERVER_URL}"
      secret_token: ${ELASTIC_APM_SECRET_TOKEN}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: metricbeat-daemonset-modules
  namespace: "{{ kube_system_namespace }}"
  labels:
    k8s-app: metricbeat
data:
  system.yml: |-
    - module: system
      period: 10s
      metricsets:
        - cpu
        - load
        - memory
        - network
        - process
        - process_summary
        - uptime
        - core
        #https://github.com/elastic/beats/issues/9124
        #- diskio
        - socket
      processes: ['.*']
      processors:
        - add_docker_metadata:
            host: "unix:///var/run/docker.sock"
            match_fields: ["system.process.cgroup.id"]
      process.include_top_n.enabled: false
    - module: system
      period: 1m
      metricsets:
        - filesystem
        - fsstat
      processors:
      - drop_event.when.regexp:
          system.filesystem.mount_point: '^/(sys|cgroup|proc|dev|etc|host|lib)($|/)'
  kubernetes.yml: |-
    - module: kubernetes
      metricsets:
        - node
        - system
        - pod
        - container
        - volume
      period: 10s
      host: ${NODE_NAME}
      hosts: ["localhost:10255"]
  docker.yml: |-
    - module: docker
      metricsets:
        # TODO commented to test
        #- container
        - cpu
        #https://github.com/elastic/beats/issues/9124
        #- diskio
        - healthcheck
        - info
        - memory
        - network
      hosts: ["unix:///var/run/docker.sock"]
      period: 10s
  vsphere.yml: |-
    - module: vsphere
      enabled: true
      metricsets: ["datastore", "host", "virtualmachine"]
      period: 10s
      hosts: ["https://vmware.{{ k8s_default_namespace }}/sdk"]
      username: "user"
      password: "pass"
      # If insecure is true, don't verify the server's certificate chain
      insecure: true
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: metricbeat-deployment-config
  namespace: "{{ kube_system_namespace }}"
  labels:
    k8s-app: metricbeat
data:
  metricbeat.yml: |-
    metricbeat.config.modules:
      path: ${path.config}/modules.d/*.yml
      reload.enabled: false

    processors:
      - add_cloud_metadata:

    output.elasticsearch:
      hosts: ['${ELASTICSEARCH_HOST}']
      username: ${ELASTICSEARCH_USERNAME}
      password: ${ELASTICSEARCH_PASSWORD}
      index: "metricbeat-%{[agent.version]}-%{+yyyy.MM.dd}"
      ssl.enabled: true
      ssl.verification_mode: none
    monitoring.enabled: true
    setup.kibana.host: ${KIBANA_HOST}
    setup.kibana.username: ${KIBANA_USERNAME}
    setup.kibana.password: ${KIBANA_PASSWORD}
    setup.template.name: "metricbeat"
    setup.template.pattern: "metricbeat-*"
    setup.template.enabled: true
    setup.template.overwrite: true
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: metricbeat-deployment-modules
  namespace: "{{ kube_system_namespace }}"
  labels:
    k8s-app: metricbeat
data:
  # This module requires `kube-state-metrics` up and running under the `"{{ kube_system_namespace }}"` namespace
  kubernetes.yml: |-
    - module: kubernetes
      metricsets:
        - state_node
        - state_deployment
        - state_replicaset
        - state_pod
        - state_container
        - event
      period: 10s
      host: ${NODE_NAME}
      hosts: ["kube-state-metrics:8080"]
