---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: metricbeat
  namespace: "{{ kube_system_namespace }}"
  labels:
    k8s-app: metricbeat
spec:
  selector:
    matchLabels:
      k8s-app: metricbeat
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        k8s-app: metricbeat
    spec:
      serviceAccountName: metricbeat
      terminationGracePeriodSeconds: 30
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      automountServiceAccountToken: true
      initContainers:
      - name: wait-for-service
        image: curlimages/curl:latest
        command: ['sh', '-c', 'until curl -LksS -u ${ELASTICSEARCH_USERNAME}:${ELASTICSEARCH_PASSWORD} ${ELASTICSEARCH_HOST}; do echo waiting for ${ELASTICSEARCH_HOST}; sleep 2; done;']
        envFrom:
          - secretRef:
              name: es-creds
      containers:
      - name: metricbeat
        image: {{ beats.metricbeat.image }}
        imagePullPolicy: Always
        args: [
          "-c", "/etc/metricbeat.yml",
          "-e",
          "-system.hostfs=/hostfs",
          "-d", "autodiscover, add_docker_metadata, add_kubernetes_metadata"
        ]
        envFrom:
          - secretRef:
              name: es-creds
          - secretRef:
              name: apm-creds
          - secretRef:
              name: kibana-creds
        env:
        - name: ELASTIC_APM_ACTIVE
          value: 'true'
        - name: DEPLOY_TIMESTAMMP
          value: "{{ deploy_timestamp }}"
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-creds
              key: mysql-root-password
        - name: POSGRESQL_ADMIN_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgresql-creds
              key: postgresql-password
        securityContext:
          runAsUser: 0
        resources:
          limits:
            memory: 300Mi
          requests:
            cpu: 0.05
            memory: 100Mi
        volumeMounts:
        - name: config
          mountPath: /etc/metricbeat.yml
          readOnly: true
          subPath: metricbeat.yml
        - name: modules
          mountPath: /usr/share/metricbeat/modules.d
          readOnly: true
        - name: dockersock
          mountPath: /var/run/docker.sock
        - name: proc
          mountPath: /hostfs/proc
          readOnly: true
        - name: cgroup
          mountPath: /hostfs/sys/fs/cgroup
          readOnly: true
      volumes:
      - name: proc
        hostPath:
          path: /proc
      - name: cgroup
        hostPath:
          path: /sys/fs/cgroup
      - name: dockersock
        hostPath:
          path: /var/run/docker.sock
      - name: config
        configMap:
          defaultMode: 0600
          name: metricbeat-daemonset-config
      - name: modules
        configMap:
          defaultMode: 0600
          name: metricbeat-daemonset-modules
      - name: data
        hostPath:
          path: /var/lib/metricbeat-data
          type: DirectoryOrCreate
      imagePullSecrets:
        - name: docker.elastic.co
