apiVersion: agent.k8s.elastic.co/v1alpha1
kind: Agent
metadata:
  name: {{ cluster_name }}
spec:
  version: {{ stack_version }}
  kibanaRef:
    name: {{ cluster_name }}
  elasticsearchRefs:
  - name: {{ cluster_name }}
  mode: fleet
  fleetServerEnabled: true
  policyID: fleet-server-apm-policy
  deployment:
    replicas: 1
    podTemplate:
      spec:
        serviceAccountName: fleet-server
        automountServiceAccountToken: true
        imagePullSecrets:
          - name: docker.elastic.co
        containers:
          - name: agent
            image: {{ eck_agent_image }}
            imagePullPolicy: Always
            env:
              - name: DEPLOY_TIMESTAMP
                value: "{{ deploy_timestamp }}"
            resources:
              requests:
                memory: {{ eck_agent_mem }}Gi
                cpu: 0.05
              limits:
                memory: {{ (eck_agent_mem | float) + 0.5 }}Gi
        securityContext:
          runAsUser: 0
---
apiVersion: v1
kind: Service
metadata:
  name: {{ cluster_name }}-apm-http
spec:
  selector:
    agent.k8s.elastic.co/name: {{ cluster_name }}
  ports:
  - protocol: TCP
    port: 8200
---
apiVersion: v1
kind: Service
metadata:
  name: {{ cluster_name }}-agent-http
spec:
  selector:
    agent.k8s.elastic.co/name: {{ cluster_name }}
  ports:
  - protocol: TCP
    port: 8220
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ cluster_name }}
rules:
- apiGroups: [""]
  resources:
  - pods
  - namespaces
  - nodes
  verbs:
  - get
  - watch
  - list
- apiGroups: ["coordination.k8s.io"]
  resources:
  - leases
  verbs:
  - get
  - create
  - update
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: fleet-server
  namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: fleet-server
subjects:
- kind: ServiceAccount
  name: fleet-server
  namespace: default
roleRef:
  kind: ClusterRole
  name: fleet-server
  apiGroup: rbac.authorization.k8s.io
