---
{% set docker_auth = (docker_auth_usr + ':' + docker_auth_psw) | b64encode %}
{% set docker_config = {"auths":{docker_registry:{"username": docker_auth_usr,"password": docker_auth_psw,"email": docker_email,"auth": docker_auth}}} %}
apiVersion: v1
data:
  .dockerconfigjson: "{{ docker_config | to_json | b64encode }}"
kind: Secret
metadata:
  name: "{{ docker_secret_name | default(docker_registry) }}"
  namespace: "{{ k8s_docker_namespace | default(k8s_default_namespace) }}"
type: kubernetes.io/dockerconfigjson
