__pycache__
.ansible
.ci/.hermit
.ci/docker/bats-core
.ci/docker/target
.ci/docker/tests/test_helper
.ci/package-lock.json
.ci/package.json
.ci/update-versions/versions.json
.config
.DS_Store
.env
.gsutil
.helm
.idea
.kube
.pytest_cache
.terraform.lock.hcl
.vagrant
.vault-token
.vscode
*.bck
*.box
*.pyc
*.swo
*.swp
**/.atom
**/.terraform
**/.terraform.d
**/.terraform.tfstate.lock.info
**/.venv
**/*.bak
**/credentials
**/credentials*.json
**/helm/helm.csr
**/helm/tiller.csr
**/helm/tiller*.pem
**/helm/tiller*.pem
**/molecule/**/build
**/readme-generator-for-helm
**/terraform-inventory
**/terraform-inventory.zip
**/terraform.tfstate
**/terraform.tfstate.backup
/demo/filebeat/.filebeat
ansible/.cache
ansible/.docker
ansible/**/test-results
ansible/apm-token
ansible/build*
ansible/cluster-config-effective.yml
ansible/cluster-info
ansible/elasticsearch_password
ansible/ingress-password
ansible/package-lock.json
ansible/passwordfile
ansible/setup-ec-cluster.retry
ansible/setup-k8s-cluster.retry
ansible/setup-k8s.retry
ansible/test.yml
build
cluster-01
cluster-02
deployments.json
deployments/docker-compose/fleet-server-02/environment
deployments/docker-compose/otel-collector/tests.json
deployments/track/sample/allCountries.txt
deployments/track/sample/allCountries.zip
deployments/track/sample/documents.json
deployments/track/sample/documents.json.offset
deployments/track/sample/track.json
docs/*.pid
docs/cache
docs/env
docs/output
ece/bootstrap-secrets.local.json
ece/build
ece/inventory.gcp.yml
elastic-cloud/apm-definition.json
elastic-cloud/cluster-definition.json
elastic-cloud/kibana-definition.json
env.sh
env/
environments/*-temp
environments/*-temp
environments/*-temp
get_helm.sh
gopath
helm-charts/**/Chart.lock
helm-charts/**/charts/*.tgz
helm-charts/**/package-lock.json
helm-charts/**/package-lock.json
helm-charts/**/package.json
helm-charts/**/requirements.lock
Library
node_modules
passwordfile
pkg/data/secrets
pkg/pkg
query.json
site
stack_env/packages/*
terraform.log
terraform/gcp/terraform.tfvars
tests/**/cypress.env.json
tests/**/cypress.json
tests/**/cypress/cucumber-json
tests/**/cypress/html-reports
tests/**/cypress/screenshots
tests/**/cypress/videos
tests/**/env.sh
tests/**/test-results
tools/project-api/build
website/dist
website/env
