---
{% if observability_enabled is defined and observability_enabled %}
apiVersion: v1
kind: Secret
metadata:
  name: {{ stack_monitoring_secret }}
stringData:
  url: {{ observability_es_url }}
  username: {{ observability_es_username }}
  password: {{ observability_es_password }}
{% endif %}
