.bzr/
.bzrignore
.DS_Store
.git/
.gitignore
.hg/
.hgignore
.idea/
.project
.pytest_cache/
.svn/
.vscode/
*.bak
*.orig
*.swp
*.tmp
*.tmproj
*~
tests/
.venv
__pycache__
./node_modules
./readme-generator-for-helm
*.lock
