{{ lookup('ansible.builtin.template', '{{ templates_dir }}/deploy_info_msg.yml.j2') }}

*Credentials*

{% if k8s_enabled and (ingress_enabled | default(false)) %}
ingress:
  username: {{ ingress_username | default(None) }}
  password: {{ ingress_password | default(None) }}
{% endif %}
{% if elasticsearch_enabled %}
elasticsearch:
  login url: {{ elasticsearch_url }}
  username: {{ elasticsearch_username | default(None) }}
  password: {{ elasticsearch_password | default(None) }}

  curl -kv -u {{ elasticsearch_username }}:{{ elasticsearch_password }} {{ elasticsearch_url }}

  {{ lookup('ansible.builtin.template', '{{ templates_dir }}/user_msg.yml.j2') | indent(2) }}
{% endif %}
{% if kibana_enabled %}
kibana:
  url: {{ kibana_url }}
  username: {{ kibana_username | default(None) }}
  password: {{ kibana_password | default(None) }}

  {% if (ess_saml_id |default('')) != 'disabled' %}
  This Kibana deployment has Okta login enabled, you can use Okta to login to Kibana.
  {% endif %}

  Check oblt-cli documentation to <https://elastic.github.io/observability-test-environments/tools/oblt-cli/local-kibana/ | know hot to connect a local Kibana instance>
{% endif %}
{% if apm_enabled %}
apm:
  url: {{ apm_url }}
{% if apm_token is defined and (apm_token|length) >0 %}
  token: {{ apm_token }}

  curl -kv -H "Authorization: Bearer {{ apm_token }}" {{ apm_url }}
{% endif %}
{% if apm_apikey is defined and (apm_apikey|length) >0%}
  api_key: {{ apm_apikey | default(None) }}

  curl -kv -H "Authorization: ApiKey {{ apm_apikey }}" {{ apm_url }}
{% endif %}


{% endif %}
{% if k8s_enabled and (opbeans_enabled | default(false)) %}
opbeans:
  username: {{ ingress_username | default(None) }}
  password: {{ ingress_password | default(None) }}
{% endif %}
{% if kibana_enabled is false %}
*Local Kibana*

Create a kibana.yml file with the following content.
then you can execute a Kibana instance using this kibana.yml configuration file.
This local Kibana instance will be configured to use one of the oblt clusters as remote cluster.

for more details please check the <https://github.com/elastic/observability-test-environments/blob/main/tools/oblt-cli/README.md | README>

Execution example from code.
Copy the content kibana.yml from the slack message to your `config/kibana.dev.yml` then execute the following command

NODE_OPTIONS="--max_old_space_size=4096" yarn start

Execution example in a Docker Container.
  docker run -it -v $(pwd)/kibana.yml:/usr/share/kibana/config/kibana.yml -p 5601:5601 {{ kibana_docker_image }}

```
{{ lookup('ansible.builtin.template', '{{ templates_dir }}/kibana.yml.j2') }}
```
{% endif %}
