---
#{% set es_version = '8.5.0' %}
# It is part of the namespace to deploy "namespace: { .Chart.Name } -{ .Values.username }"
username: "eden"
# These variables compose the tag in the Docker images
# it is used as suffix for the Docker images
build_num: "25"
stack_version: "{{ es_version }}"
es_version: "{{ es_version }}"

## @param apm_url URL to use for APM Server
## @param apm_token Token to use for APM
apm_url: "{{ profiling_url | default('NotSet') }}"
apm_token: "{{ profiling_token | default('NotSet') }}"

## @param docker_namespace Namespace in the docker.elstic.co repository to use for pull Docker images
## @param docker_namespace_beats Namespace in the docker.elstic.co repository to use for pull Beats Docker images
docker_namespace: "sa"
docker_namespace_beats: "beats"

obltCluster: true

annotations:
  deployed-at: "{{ deploy_timestamp | replace(':','')| replace(' ','_') }}"

obltCluster: true
