---
apiVersion: v1
kind: ConfigMap
metadata:
  name: heartbeat-config
  namespace: "{{ kube_system_namespace }}"
  labels:
    k8s-app: heartbeat
data:
  heartbeat.yml: |-
{% if stack_version is version('7.10.0', '>=') %}
    queue.disk:
      max_size: 1GB
{% endif %}
    heartbeat.monitors:
    - type: icmp
      name: icmp-ES
      schedule: '@every 60s'
      hosts: ["${ELASTICSEARCH_HOST}"]
    - type: tcp
      name: tcp-ES
      schedule: '@every 60s'
      hosts: ["${ELASTICSEARCH_HOST}"]
      ports: ["7"]
      check.send: "Check"
      check.receive: "Check"
    - type: http
      name: Elasticsearch_Health
      schedule: '@every 60s'
      urls: ["${ELASTICSEARCH_HOST}/_cluster/health"]
      check.response.status: 401
    - type: http
      name: Kibana_Health
      schedule: '@every 60s'
      urls: [" ${KIBANA_HOST}/login"]
      check.response.status: 200
    - type: http
      name: Fleet_Server_Health
      schedule: '@every 10s'
      urls: ["http://fleet-server.{{ k8s_default_namespace }}.svc.cluster.local:8220/api/status"]
      check.response.status: 200
    - type: http
      name: Fleet_Server_Health_ext
      schedule: '@every 10s'
      urls: ["https://fleet.{{ load_balancer_ip | default('127.0.0.1', false) }}.ip.es.io/api/status"]
      check.response.status: 200
    heartbeat.scheduler:
      limit: 10
    heartbeat.autodiscover:
      providers:
        - type: kubernetes
          templates:
            - condition:
                contains:
                  kubernetes.container.image: redis
              config:
                - type: tcp
                  name: redis
                  hosts: ["${data.host}:${data.port}"]
                  schedule: "@every 30s"
                  timeout: 1s
    processors:
    - add_cloud_metadata: ~
    output.elasticsearch:
      hosts: ['${ELASTICSEARCH_HOST}']
      username: ${ELASTICSEARCH_USERNAME}
      password: ${ELASTICSEARCH_PASSWORD}
      index: "heartbeat-%{[agent.version]}-%{+yyyy.MM.dd}"
      ssl.enabled: true
      ssl.verification_mode: none
    monitoring.enabled: true
    setup.kibana.host: ${KIBANA_HOST}
    setup.kibana.username: ${KIBANA_USERNAME}
    setup.kibana.password: ${KIBANA_PASSWORD}
    setup.template.overwrite: true
{% if stack_version is version('7.12.0', '>=') %}
    setup.template.name: "heartbeat"
    setup.template.pattern: "heartbeat-*"
    setup.template.settings.index.routing.allocation.include._tier_preference: data_hot
{% endif %}
    instrumentation:
      enabled: true
      environment: production
      hosts:
        - "${ELASTIC_APM_SERVER_URL}"
      secret_token: ${ELASTIC_APM_SECRET_TOKEN}
