{
	"blocks": [
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "Hey there 👋 I'm oblt-robot. I'm here to help you with Oblt Clusters, CI and some automation!\n"
			}
		},
		{
			"type": "header",
			"text": {
				"type": "plain_text",
				"text": "Active branches in the Unified Release",
				"emoji": true
			}
		},
  	{{ $length := len .Versions }}
  	{{ if eq $length 0 }}
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": ":ghost: No version files could be found. Contact the `@oblt-robots` team"
			}
		},
    {{else}}
		{{ range $version := .Versions }}
		{
			"type": "section",
			"fields": [
				{
					"type": "mrkdwn",
					"text": "*Version:* `{{ $version.Version }}` (_branch_: `{{ $version.Branch }}`)"
				},
				{
					"type": "mrkdwn",
					"text": "*Release date:* `{{ $version.ReleaseDate }}`"
				}
			]
		},
    {{ end }}
    {{ end }}
		{
			"type": "divider"
		}
	]
}
