{
	"blocks": [
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "{{ .Header }}"
			}
		},
		{
			"type": "divider"
		},
    {{ $last := (last $.Secrets) }}
    {{ range $i, $secret := .Secrets }}
		{
			"type": "actions",
			"elements": [
				{
					"type": "button",
					"style": "primary",
					"text": {
						"type": "plain_text",
						"text": "Read secret {{ wrap 80 (title $secret) }}",
						"emoji": true
					},
					"value": "{{ $.ActionPrefix }}__{{ $secret }}",
					"action_id": "{{ $.ActionPrefix }}__{{ $secret }}"
				}
			]
		}{{ if ne $secret $last }},{{ end }}
    {{ end }}
	]
}
