{
	"blocks": [
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "Hey there 👋 I'm oblt-robot. I'm here to help you with Oblt Clusters, CI and some automation!\n"
			}
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "Greetings <@{{ .User }}>"
			}
		}
	]
}
