{
	"blocks": [
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "Hey there 👋 I'm oblt-robot. I'm here to help you with Oblt Clusters, CI and some automation!\n"
			}
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "I'm sorry <@{{ .User }}>, but I do not know how to respond on this.\n Please mention me with the `help` word in the message"
			}
		}
	]
}
