# yaml-language-server: $schema=https://raw.githubusercontent.com/deepmap/oapi-codegen/HEAD/configuration-schema.json
package: api
generate:
  client: true
  models: true
  std-http-server: true
output-options:
  name-normalizer: ToCamelCase
  skip-prune: true
import-mapping:
  ./user-v1-spec.yml: github.com/elastic/observability-test-environments/tools/project-api/pkg/api/user
output: ./pkg/api/admin/api.go
