apiVersion: v1
kind: Service
metadata:
  name: fleet-server
  labels:
    service: fleet-server
spec:
  type: {{ 'NodePort' if k8s_provider == 'kind' else 'LoadBalancer' }}
  selector:
    app: fleet-server
  ports:
  - port: 8220
    name: http
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    cert-manager.io/cluster-issuer: "{{ certificate_issuer }}"
    ingress.kubernetes.io/ssl-redirect: "true"
    kubernetes.io/ingress.class: nginx
    kubernetes.io/tls-acme: "true"
  labels:
    app: fleet-server
  name: fleet-server
spec:
  rules:
  - host: "fleet.{{ load_balancer_ip }}.{{ k8s.domain }}"
    http:
      paths:
      - backend:
          service:
            name: fleet-server
            port:
              number: 8220
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - "fleet.{{ load_balancer_ip }}.{{ k8s.domain }}"
    secretName: fleet-server-tls
