---
apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
  namespace: "{{ kube_system_namespace }}"
  labels:
    k8s-app: filebeat
data:
  filebeat.yml: |-
{% if stack_version is version('7.10.0', '>=') %}
    queue.disk:
      max_size: 1GB
{% endif %}
    filebeat.autodiscover:
      providers:
        - type: kubernetes
          host: ${NODE_NAME}
          templates:
            - condition:
                or:
                  - contains:
                      kubernetes.container.image: nginx
                  - contains:
                      kubernetes.container.image: nginx-ingress-controller
              config:
                - module: nginx
                  access:
                    input:
                      type: container
                      paths:
                        - /var/log/containers/*-${data.kubernetes.container.id}.log
                      tail_files: true
                      tags: ["NGINX"]
                      containers:
                        stream: stdout
                  error:
                    input:
                      type: container
                      paths:
                        - /var/log/containers/*-${data.kubernetes.container.id}.log
                      tail_files: true
                      tags: ["NGINX-error"]
                      containers:
                        stream: stderr
            - condition:
                contains:
                  kubernetes.container.image: mysql
              config:
                - module: mysql
                  slowlog:
                    input:
                      type: container
                      paths:
                        - /var/log/containers/*-${data.kubernetes.container.id}.log
                      tail_files: true
                      tags: ["MySQL"]
                      containers:
                        stream: stdout
                  error:
                    input:
                      type: container
                      paths:
                        - /var/log/containers/*-${data.kubernetes.container.id}.log
                      tail_files: true
                      tags: ["MySQL-error"]
                      containers:
                        stream: stderr
            - condition:
                contains:
                  kubernetes.container.image: apache
              config:
                - module: apache
                  access:
                    input:
                      type: container
                      paths:
                        - /var/log/containers/*-${data.kubernetes.container.id}.log
                      tail_files: true
                      tags: ["apache"]
                      containers:
                        stream: stdout
                  error:
                    input:
                      type: container
                      paths:
                        - /var/log/containers/*-${data.kubernetes.container.id}.log
                      tail_files: true
                      tags: ["apache-error"]
                      containers:
                        stream: stderr
            - condition:
                contains:
                  kubernetes.container.image: kibana
              config:
                - module: kibana
                  log:
                    input:
                      type: container
                      paths:
                        - /var/log/containers/*-${data.kubernetes.container.id}.log
                      tail_files: true
                      tags: ["kibana"]
                      containers:
                        stream: all
            - condition:
                contains:
                  kubernetes.container.image: haproxy
              config:
                - module: haproxy
                  log:
                    input:
                      type: container
                      paths:
                        - /var/log/containers/*-${data.kubernetes.container.id}.log
                      tail_files: true
                      tags: ["haproxy"]
                      containers:
                        stream: all
            - condition:
                contains:
                  kubernetes.container.image: postgresql
              config:
                - module: postgresql
                  log:
                    input:
                      type: container
                      paths:
                        - /var/log/containers/*-${data.kubernetes.container.id}.log
                      tail_files: true
                      tags: ["postgreSQL"]
            - condition:
                contains:
                  kubernetes.container.image: redis
              config:
                - module: redis
                  log:
                    input:
                      type: container
                      paths:
                        - /var/log/containers/*-${data.kubernetes.container.id}.log
                      tail_files: true
                      tags: ["redis"]
                  slowlog:
                    input:
                      type: container
                      paths:
                        - /var/log/containers/*-${data.kubernetes.container.id}.log
                      tail_files: true
            - condition:
                contains:
                  kubernetes.container.image: elasticsearch
              config:
                - module: elasticsearch
                  server:
                    input:
                      type: container
                      paths:
                        - /var/log/containers/*-${data.kubernetes.container.id}.log
                      tail_files: true
                      tags: ["elasticsearch"]
                  gc:
                    input:
                      type: container
                      paths:
                        - /var/log/containers/*-${data.kubernetes.container.id}.log
                      tail_files: true
                      ags: ["elasticsearch-gc"]
                  audit:
                    input:
                      type: container
                      paths:
                        - /var/log/containers/*-${data.kubernetes.container.id}.log
                      tail_files: true
                      ags: ["elasticsearch-audit"]
                  slowlog:
                    input:
                      type: container
                      paths:
                        - /var/log/containers/*-${data.kubernetes.container.id}.log
                      tail_files: true
                      ags: ["elasticsearch-slowlog"]
                  deprecation:
                    input:
                      type: container
                      paths:
                        - /var/log/containers/*-${data.kubernetes.container.id}.log
                      tail_files: true
                      ags: ["elasticsearch-deprecation"]
            - condition:
                contains:
                  kubernetes.container.name: "opbeans-"
              config:
                - type: container
                  paths:
                    - "/var/log/containers/*-${data.kubernetes.container.id}.log"
                  tags: ["opbeans", "no_json"]
                  include_lines: ['^{']
                  tail_files: true
                  processors:
                  - decode_json_fields:
                      fields:
                        - message
                      target: ""
                      overwrite_keys: true
                      add_error_key: true
                  - drop_fields:
                      fields:
                        - service
                        - event
                        - url
                        - error
                  fields_under_root: true
            - condition:
                contains:
                  kubernetes.container.name: "opbeans-"
              config:
                - type: container
                  paths:
                    - "/var/log/containers/*-${data.kubernetes.container.id}.log"
                  tags: ["opbeans", "no_json"]
                  tail_files: true
                  multiline.pattern: '^[[:blank:]]'
                  multiline.negate: false
                  multiline.match: after
                  exclude_lines: ['^{']
            - condition:
                contains:
                  kubernetes.container.name: "apm-server"
              config:
                - type: container
                  paths:
                    - "/var/log/containers/*-${data.kubernetes.container.id}.log"
                  tags: ["apm", "apm-server"]
                  tail_files: true
                  processors:
                  - decode_json_fields:
                      fields:
                        - message
                      target: ""
                      overwrite_keys: true
                      add_error_key: true
                  fields_under_root: true
    setup.template.overwrite: true
{% if stack_version is version('7.12.0', '>=') %}
    setup.template.name: "filebeat"
    setup.template.pattern: "filebeat-*"
    setup.template.settings.index.routing.allocation.include._tier_preference: data_hot
{% endif %}
    filebeat.overwrite_pipelines: true
    monitoring.enabled: true
    processors:
      - add_cloud_metadata: ~
      - add_host_metadata: ~
    output.elasticsearch:
      hosts: ['${ELASTICSEARCH_HOST}']
      username: ${ELASTICSEARCH_USERNAME}
      password: ${ELASTICSEARCH_PASSWORD}
      index: "filebeat-%{[agent.version]}-%{+yyyy.MM.dd}"
      ssl.enabled: true
      ssl.verification_mode: none
      worker: 2
      bulk_max_size: 1000
    setup.kibana.host: ${KIBANA_HOST}
    setup.kibana.username: ${KIBANA_USERNAME}
    setup.kibana.password: ${KIBANA_PASSWORD}
    instrumentation:
      enabled: true
      environment: production
      hosts:
        - "${ELASTIC_APM_SERVER_URL}"
      secret_token: ${ELASTIC_APM_SECRET_TOKEN}
{% raw %}
  nginx_access_pipeline.json: |-
    {
      "description": "Modified nginx pipeline to anonymize IPs and add request time",
      "processors": [
        {
          "grok": {
            "field": "message",
            "patterns": ["%{IP_LIST:nginx.access.remote_ip_list} - (%{DATA:nginx.access.request_time}|-) \\[%{HTTPDATE:nginx.access.time}\\] \"%{WORD:nginx.access.method} %{DATA:nginx.access.url} HTTP/%{NUMBER:nginx.access.http_version}\" %{NUMBER:nginx.access.response_code} %{NUMBER:nginx.access.body_sent.bytes} \"%{DATA:nginx.access.referrer}\" \"%{DATA:nginx.access.agent}\""
            ],
            "pattern_definitions": {
              "IP_LIST": "%{IP}(\"?,?\\s*%{IP})*"
            },
            "ignore_missing": true
          }
        },
        {
          "split": {
            "field": "nginx.access.remote_ip_list",
            "separator": "\"?,?\\s+"
          }
        },
        {
          "script": {
            "lang": "painless",
            "source": "boolean isPrivate(def ip) { try { StringTokenizer tok = new StringTokenizer(ip, \".\"); int firstByte = Integer.parseInt(tok.nextToken());       int secondByte = Integer.parseInt(tok.nextToken());       if (firstByte == 10) {         return true;       }       if (firstByte == 192 && secondByte == 168) {         return true;       }       if (firstByte == 172 && secondByte >= 16 && secondByte <= 31) {         return true;       }       if (firstByte == 127) {         return true;       }       return false;     } catch (Exception e) {       return false;     }   }   def found = false;   for (def item : ctx.nginx.access.remote_ip_list) {     if (!isPrivate(item)) {       ctx.nginx.access.remote_ip = item;       found = true;       break;     }   }   if (!found) {     ctx.nginx.access.remote_ip = ctx.nginx.access.remote_ip_list[0];   }"
          }
        },
        {
          "remove": {
            "field": "message"
          }
        },
        {
          "rename": {
            "field": "@timestamp",
            "target_field": "read_timestamp"
          }
        },
        {
          "date": {
            "field": "nginx.access.time",
            "target_field": "@timestamp",
            "formats": [
              "dd/MMM/YYYY:H:m:s Z"
            ]
          }
        },
        {
          "remove": {
            "field": "nginx.access.time"
          }
        },
        {
          "user_agent": {
            "field": "nginx.access.agent",
            "target_field": "nginx.access.user_agent"
          }
        },
        {
          "remove": {
            "field": "nginx.access.agent"
          }
        },
        {
          "set": {
            "field": "ip",
            "value": "{{nginx.access.remote_ip}}"
          }
        },
        {
          "script": {
            "lang": "painless",
            "source": "if (ctx[params.field] != null) { long seed = 0; if (ctx[params.field].contains(\":\")) { ctx.remove(params.field); } else { StringTokenizer st = new StringTokenizer(ctx[params.field], \".\"); int uniq = 0; int c = 0;  while (st.hasMoreElements()) { uniq = uniq | ((Integer.parseInt(st.nextElement())) << ((3-c)*8)); c+=1; }  seed = uniq*params.base_seed;  Random gen = new Random(seed); ctx[params.field]=\"\" + (gen.nextInt(255)+1)+\".\"+(gen.nextInt(255)+1)+\".\"+(gen.nextInt(255)+1)+\".\"+(gen.nextInt(255)+1); } }",
            "params": {
              "base_seed": 13,
              "field": "ip"
            }
          }
        },
        {
          "set": {
            "field": "nginx.access.remote_ip",
            "value": "{{ip}}"
          }
        },
        {
          "geoip": {
            "field": "nginx.access.remote_ip",
            "target_field": "nginx.access.geoip",
            "ignore_failure": true
          }
        },
        {
          "remove": {
            "field": [
              "nginx.access.remote_ip_list",
              "ip"
            ],
            "ignore_failure": true
          }
        },
        {
          "convert": {
            "field": "nginx.access.request_time",
            "type": "float",
             "on_failure" : [
              {
                "remove" : {
                  "field" : "nginx.access.request_time"
                }
              }
            ]
          }
        }
      ],
      "on_failure" : [{
        "set" : {
          "field" : "error.message",
          "value" : "{{ _ingest.on_failure_message }}"
        }
      }]
    }
  nginx_error_pipeline.json: |-
    {
      "description": "Pipeline for parsing the Nginx error logs",
      "processors": [{
        "grok": {
          "field": "message",
          "patterns": [
            "%{DATA:nginx.error.time} \\[%{DATA:nginx.error.level}\\] %{NUMBER:nginx.error.pid}#%{NUMBER:nginx.error.tid}: (\\*%{NUMBER:nginx.error.connection_id} )?%{GREEDYDATA:nginx.error.message}"
          ],
          "ignore_missing": true
        }
      }, {
        "rename": {
          "field": "@timestamp",
          "target_field": "read_timestamp"
        }
      }, {
        "date": {
          "field": "nginx.error.time",
          "target_field": "@timestamp",
          "formats": ["YYYY/MM/dd H:m:s"]
        }
      }, {
        "remove": {
          "field": "nginx.error.time"
        }
      }],
      "on_failure" : [{
        "set" : {
          "field" : "error.message",
          "value" : "{{ _ingest.on_failure_message }}"
        }
      }]
    }
{% endraw %}
