[defaults]
module_lang = en_US.UTF-8
inventory     = ./config/hosts
host_key_checking = False
retry_files_enabled = False
remote_user = ubuntu
force_color = True
localhost_warning=false

stdout_callback = community.general.yaml
callbacks_enabled = ansible.posix.profile_tasks, community.general.yaml
# callbacks_enabled = community.general.opentelemetry
# pretty_results = true
# result_format = yaml
# show_custom_stats = true
# show_task_path_on_failure = true
# display_skipped_hosts = false

[ssh_connection]
control_path  = %(directory)s/%%h-%%r
