apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: hello-node-template-1
  name: hello-node-template-1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-node-template-1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: hello-node-template-1
    spec:
      containers:
      - image: k8s.gcr.io/echoserver:{{ app_config.version }}
        name: echoserver-{{ template_value | default("foo", true) }}
        resources: {}
status: {}
