opbeans:
  apm:
    enabled: {{ (opbeans_apm_enabled | default(true)) | bool }}
    url: "{{ apm_url }}"
{% if apm_apikey is defined and apm_apikey != "" %}
    apikey: "{{ apm_apikey }}"
{% elif apm_token is defined and apm_token != "" %}
    token: "{{ apm_token }}"
{% endif %}
  ingress:
    enabled: false
    tls: {{ certmanager_available }}
    certificateIssuer: "letsencrypt-prod"
    host: "{{ helm_chart.name }}.{{ load_balancer_ip | default('not-defined') }}.{{ k8s_domain }}"
  loadgen:
    enabled: true
    schedule: "{{ opbeans_loaggen_schedule | default('*/2 * * * *') }}"
    api:
      enabled: false
      urls: "{{ helm_chart.name }}:http://{{ helm_chart.name }}:3000"
      runLength: "{{ helm_chart.name }}:{{ opbeans_loaggen_run_length | default('120') }}"
      requestMinute: "{{ helm_chart.name }}:{{ opbeans_loaggen_rpms | default('1000') }}"
    frontend:
      enabled: false
      url: "http://{{ helm_chart.name }}:3000"
    molotov:
      enabled: true
      url: "http://{{ helm_chart.name }}:3000"
      duration: 120
      tolerance: 75
  annotations:
    deployed-at: "{{ deploy_timestamp | replace(':','')| replace(' ','_') }}"
  serviceAccount:
    name: {{ helm_chart.name }}-{{ cluster_hash }}
  db:
    enabled: true
    host: {{ helm_chart.name }}-db
    name: {{ helm_chart.name }}
    port: 5432
    type: postgresql
    username: elastic
    password: none
  redis:
    url: redis://{{ helm_chart.name }}-redis-master:6379
elasticsearch:
  sysctlImage:
    enabled: {{ false if k8s_provider == 'autopilot' else true | bool}}
redis:
  fullnameOverride: "{{ helm_chart.name }}-redis"
postgresql:
  fullnameOverride: "{{ helm_chart.name }}-db"
  auth:
    username: "elastic"
    existingSecret: "{{ helm_chart.name }}-db-creds"
  primary:
    initdb:
      scriptsConfigMap: {{ helm_chart.name }}-initdb
