{% set github_username = (lookup('env','GITHUB_USERNAME') | b64encode)  -%}
{% set github_personal_access_token = (lookup('env','GITHUB_TOKEN') | b64encode) -%}
{% set dockerhub_password = (lookup('env','DOCKER_PASSWORD') | b64encode) -%}
{% set dockerhub_username = (lookup('env','DOCKER_USERNAME') | b64encode) -%}
{% set slack_iteration_token = (lookup('env','SLACK_TOKEN') | b64encode) -%}
---
apiVersion: v1
kind: Secret
metadata:
  name: jenkins-secrets
data:
  password: {{ password_plaintext | b64encode }}
---
# https://github.com/jenkinsci/kubernetes-credentials-provider-plugin/tree/master/docs/examples
apiVersion: v1
kind: Secret
metadata:
  name: "jenkins-slack-integration-token"
  labels:
    "jenkins.io/credentials-type": "secretText"
  annotations:
    "jenkins.io/credentials-description" : "Slack/Jenkins integration token used by apm-ci jobs"
type: Opaque
data:
  text: {{ slack_iteration_token }}
---
apiVersion: v1
kind: Secret
metadata:
  name: "2a9602aa-ab9f-4e52-baf3-b71ca88469c7"
  labels:
    "jenkins.io/credentials-type": "secretText"
  annotations:
    "jenkins.io/credentials-description" : "GitHub user @{{ github_username | b64decode }} Personal Access Token"
type: Opaque
data:
  text: {{ github_personal_access_token }}
---
apiVersion: v1
kind: Secret
metadata:
  name: "notify-to"
  labels:
    "jenkins.io/credentials-type": "secretText"
  annotations:
    "jenkins.io/credentials-description" : "Who to notify to."
data:
  text: oblt-robots@elastic.co
---
apiVersion: v1
kind: Secret
metadata:
  name: "elasticsearch-logs-creds"
  labels:
    "jenkins.io/credentials-type": "usernamePassword"
  annotations:
    "jenkins.io/credentials-description" : "Jenkins stats Elasticsearch user and password."
type: Opaque
data:
  username: {{ elasticsearch_username | b64encode }}
  password: {{ elasticsearch_password | b64encode }}
---
apiVersion: v1
kind: Secret
metadata:
  name: "2a9602aa-ab9f-4e52-baf3-b71ca88469c7-user-and-token"
  labels:
    "jenkins.io/credentials-type": "usernamePassword"
  annotations:
    "jenkins.io/credentials-description" : "GitHub user @{{ github_username | b64decode }}  User + Personal Access Token"
type: Opaque
data:
  username: {{ github_username }}
  password: {{ github_personal_access_token }}
---
apiVersion: v1
kind: Secret
metadata:
  name: "jenkins-stats-creds"
  labels:
    "jenkins.io/credentials-type": "usernamePassword"
  annotations:
    "jenkins.io/credentials-description" : "Jenkins stats Kibana user and password."
type: Opaque
data:
  username: {{ elasticsearch_username | b64encode }}
  password: {{ elasticsearch_password | b64encode }}
---
apiVersion: v1
kind: Secret
metadata:
  name: "another-test-usernamepass"
  labels:
    "jenkins.io/credentials-type": "usernamePassword"
  annotations:
    "jenkins.io/credentials-description" : "credentials from Kubernetes"
type: Opaque
data:
  username: {{ dockerhub_username }}
  password: {{ dockerhub_password }}
