---
# last update {{ .Date }}
template_name: ess-integrations-v2
template_description: |
  Deploy The Elastic Stack on ESS, and one Integration.
  Parameters:
    - ClusterName: Name for the new oblt cluster (edge-oblt-abpag-ccs, edge-oblt-etagt-ccs)(automatic).
    - StackVersion: Elastic Stack version used for the new cluster.
    - SlackChannel: SlackChannel name or Slack member ID to send the credentials of the cluster (#my-channel, @MIDNUM)(automatic)
    - Integration: Name of the integration to deploy, it is the name of the folder in the integrations repo `packages/*` (1password, apache2, microsoft_sqlserver)(Required).
    - Repository: Repository to use to make the deploy from the `_dev` folder (elastic/integrations)(Optional).
    - Branch: Branch/tag of the integrations repo to use to make the deploy from the `_dev` folder (main)(Optional).
    - ElasticsearchDockerImage: Docker image to use for Elasticsearch. This version should be the same build of the remote cluster if the version is a SNAPSHOT (docker.elastic.co/staging/elasticsearch-cloud:8.0.0-beta1-d3622a20, docker.elastic.co/cloud-release/elasticsearch-cloud:8.0.0-SNAPSHOT)(Optional).
    - KibanaDockerImage: Docker image to use for Kibana (docker.elastic.co/kibana/kibana:8.0.0-SNAPSHOT).
    - ElasticAgentDockerImage: Docker image to use for Elastic Agent. This version should be the same build of the remote cluster if the version is an SNAPSHOT(Optional).
  Usage:
    oblt-cli cluster create custom \
        --template ess-integrations-v2 \
        --parameters '{"StackVersion":"8.7.0", "Integration":"microsoft_sqlserver"}'

    oblt-cli cluster create custom \
        --template ess-integrations-v2 \
        --parameters '{"StackVersion":"8.7.0", "Integration":"microsoft_sqlserver", "IntegrationsVersion":"main"}'

    oblt-cli cluster create custom \
        --template ess-integrations-v2 \
        --parameters '{"StackVersion":"8.7.0-SNAPSHOT", "Integration":"microsoft_sqlserver", "ElasticsearchDockerImage":"docker.elastic.co/observability-ci/elasticsearch-cloud:8.7.0-SNAPSHOT","KibanaDockerImage":"docker.elastic.co/observability-ci/kibana-cloud:8.7.0-SNAPSHOT","ElasticAgentDockerImage":"docker.elastic.co/observability-ci/elastic-agent-cloud:8.7.0-SNAPSHOT"}'

#{{- $integrationRepo := "elastic/integrations" }}
#{{- if .Repository }}
#{{ $integrationRepo = .Repository }}
#{{- end }}
#{{ $integrationBranch := "main" }}
#{{- if .Branch }}
#{{ $integrationBranch = .Branch }}
#{{- end }}

cluster_name: "{{ .ClusterName }}"
slack_channel: "{{ .SlackChannel }}"
#{{- $username := "unknown" }}
#{{- if .User }}
#{{ $username = .User }}
#{{- end }}
#{{- if .Username }}
#{{ $username = .Username }}
#{{- end }}
oblt_username: "{{ $username }}"

bootstrap_cluster: true
bootstrap_cluster_dirs:
  - "{{ `{{ deployment_dir }}/bootstrap-fleet-v2` }}"

# FIXME the loadbalancer should be automatically loaded from the cluster
#{{ $loadbalancer := "35.193.158.232" }}
loadbalancer: "{{ $loadbalancer }}"

k8s:
  provider: gcp
  shared: "edge-oblt"
  certmanager: false
  ingress: false
  default_namespace: "{{ .ClusterName }}-default"
  kube_system_namespace: "{{ .ClusterName }}-kube-system"

# TODO remove this when we have a better way to make ingress available
ingress_available: true

#{{- if .StackVersion }}
stack:
  version: "{{ .StackVersion }}"
  mode: "ess"
  target: "production"
  template: "observability"
  package_registry: "package-registry-{{ .ClusterName }}.{{ $loadbalancer }}.ip.es.io"
  ess:
    #{{- if .ElasticsearchDockerImage }}
    elasticsearch:
      image: "{{ .ElasticsearchDockerImage }}"
    #{{- end }}
    #{{- if .KibanaDockerImage }}
    kibana:
      image: "{{ .KibanaDockerImage }}"
    #{{- end }}
    #{{- if .ElasticAgentDockerImage }}
    integrations:
      image: "{{ .ElasticAgentDockerImage }}"
    #{{- end }}
#{{- end }}

integrations:
  name: "{{ .Integration }}"
  name_normalized: "{{ kebabcase .Integration }}"
  repository: "{{ $integrationRepo }}"
  branch: "{{ $integrationBranch }}"

apps:
  helm:
    - name: "{{ kebabcase .Integration }}"
      values_file: "{{ `{{ helm_deployment_dir }}` }}/integrations/common/helm-values.yaml.j2"
      chart: "{{ `{{ helm_charts_dir }}/integrations` }}"
      version: 0.1.0
      namespace: "{{ .ClusterName }}-default"
      extra_args: "--wait --timeout 10m"
