---
# last update {{ .Date }}
template_name: ess-profiling
template_description: |
  Deploy The Elastic Stack on ESS, all Opbeans, and configure profiling.
  Parameters:
    - ClusterName: Name for the new oblt cluster (edge-oblt-abpag-ccs, edge-oblt-etagt-ccs)(automatic).
    - StackVersion: Elastic Stack version used for the new cluster.
    - SlackChannel: SlackChannel name or Slack member ID to send the credentials of the cluster (#my-channel, @MIDNUM)(automatic)
    - ElasticsearchDockerImage: Docker image to use for Elasticsearch. This version should be the same build of the remote cluster if the version is a SNAPSHOT (docker.elastic.co/staging/elasticsearch-cloud:8.0.0-beta1-d3622a20, docker.elastic.co/cloud-release/elasticsearch-cloud:8.0.0-SNAPSHOT)(Optional).
    - KibanaDockerImage: Docker image to use for Kibana (docker.elastic.co/kibana/kibana:8.0.0-SNAPSHOT).
    - ElasticAgentDockerImage: Docker image to use for Elastic Agent. This version should be the same build of the remote cluster if the version is an SNAPSHOT(Optional).
  Usage:
    oblt-cli cluster create custom \
        --template ess-profiling \
        --parameters '{"StackVersion":"8.7.0"}'

    oblt-cli cluster create custom \
        --template ess-profiling \
        --parameters '{"StackVersion":"8.7.0-SNAPSHOT","ElasticsearchDockerImage":"docker.elastic.co/observability-ci/elasticsearch-cloud:8.7.0-SNAPSHOT","KibanaDockerImage":"docker.elastic.co/observability-ci/kibana-cloud:8.7.0-SNAPSHOT","ElasticAgentDockerImage":"docker.elastic.co/observability-ci/elastic-agent-cloud:8.7.0-SNAPSHOT"}'

cluster_name: "{{ .ClusterName }}"
slack_channel: "{{ .SlackChannel }}"
#{{- $username := "unknown" }}
#{{- if .User }}
#{{ $username = .User }}
#{{- end }}
#{{- if .Username }}
#{{ $username = .Username }}
#{{- end }}
oblt_username: "{{ $username }}"
expire_date: '{{ now | mustDateModify "+720h" | date "2006-01-02" }}'

create_users: true

stack:
  version: "{{ .StackVersion }}"
  mode: ess
  template: observability
  target: production
  observability: true
  ess:
#{{- if .ElasticsearchDockerImage }}
    elasticsearch:
      image: "{{ .ElasticsearchDockerImage }}"
#{{- end }}
#{{- if .KibanaDockerImage }}
    kibana:
      image: "{{ .KibanaDockerImage }}"
#{{- end }}
#{{- if .ElasticAgentDockerImage }}
    integrations:
      image: "{{ .ElasticAgentDockerImage }}"
#{{- end }}

bootstrap_cluster: true
bootstrap_cluster_dirs:
  - "{{ `{{ deployment_dir }}/bootstrap-fleet` }}"

k8s:
    provider: gcp
    ingress: true
    certmanager: true

apps:
    helm:
        - name: kubernetes-integration
          values_file: "{{ `{{ helm_deployment_dir }}/elastic_agent/kubernetes/helm-values.yml.j2` }}"
          chart: "{{ `{{ helm_charts_dir }}/elastic_agent` }}"
          version: 0.1.0
opbeans:
    enabled: true
