# last update {{ .Date }}
template_name: k8s
template_description: |
  K8s deployment.
  Parameters:
    - ClusterName: Name for the new oblt cluster (automatic).
    - SlackChannel: SlackChannel name or Slack member ID to send the credentials of the cluster (#my-channel, @MIDNUM)(automatic)
    - K8sProvider: Type of K8s provider: gcp or autopilot (default: gcp)
  Usage:
    oblt-cli cluster create custom --template k8s
    oblt-cli cluster create custom --template k8s --parameters '{"K8sProvider": "autopilot"}

#{{- $username := "unknown" }}
#{{- if .User }}
#{{ $username = .User }}
#{{- end }}
#{{- if .Username }}
#{{ $username = .Username }}
#{{- end }}

#{{- $provider := "gcp" }}
#{{- if .K8sProvider }}
#{{ $provider = .K8sProvider }}
#{{- end }}

cluster_name: "{{ .ClusterName }}"
#{{- if .EphemeralCluster }}
ephemeral_cluster: "{{ .EphemeralCluster }}"
#{{- end }}
oblt_username: "{{ $username }}"
slack_channel: "{{ .SlackChannel }}"

k8s:
  enabled: true
  provider: "{{ $provider }}"

gitops:
  enabled: "{{ .GitOps }}"
#{{- if .GitHubCommit }}
  commit: "{{ .GitHubCommit }}"
#{{- end }}
#{{- if .GitHubIssue }}
  issue: "{{ .GitHubIssue }}"
#{{- end }}
#{{- if .GitHubPullRequest }}
  pull_request: "{{ .GitHubPullRequest }}"
#{{- end }}
#{{- if .GitHubRepository }}
  repository: "{{ .GitHubRepository }}"
#{{- end }}
#{{- if .GitHubCommentId }}
  comment_id: "{{ .GitHubCommentId }}"
#{{- end }}
