---
# last update {{ .Date }}
template_name: oblt-user
template_description: |
  This template stores the information about users it is not a cluster configuration file.
cluster_name: "{{ .ClusterName }}"
slack_channel: "{{ .SlackChannel }}"
oblt_username: "{{ .Username }}"
oblt_managed: false
