---
# last update {{ .Date }}
template_name: ess_performance
template_description: |
  Elastic Cloud (ESS) template configure a oblt cluster that runs on ESS dev region on production. This deployment is configured with high resources for performance testing.
  Parameters:
    - ClusterName: Name for the new oblt cluster (automatic).
    - StackVersion: Elastic Stack version used for the new cluster.
    - SlackChannel: SlackChannel name or Slack member ID to send the credentials of the cluster (#my-channel, @MIDNUM)(automatic)
    - ElasticsearchDockerImage: Docker image to use for Elasticsearch. This version should be the same build of the remote cluster if the version is an SNAPSHOT(Optional).
    - KibanaDockerImage: Docker image to use for Kibana. This version should be the same build of the remote cluster if the version is an SNAPSHOT(Optional).
    - ElasticAgentDockerImage: Docker image to use for Elastic Agent. This version should be the same build of the remote cluster if the version is an SNAPSHOT(Optional).
  Usage:
    oblt-cli cluster create custom --template ess_performance --parameters '{"StackVersion": "8.17.0", "ElasticsearchDockerImage": "docker.elastic.co/cloud-ci/elasticsearch-cloud:8.17.0-edd09abf"}'
    oblt-cli cluster create custom --template ess_performance --parameters '{"StackVersion": "8.17.0", "KibanaDockerImage": "docker.elastic.co/cloud-ci/kibana-cloud:8.17.0-edd09abf"}'
    oblt-cli cluster create custom --template ess_performance --parameters '{"StackVersion": "8.17.0", "ElasticAgentDockerImage": "docker.elastic.co/cloud-ci/elastic-agent-cloud:8.17.0-edd09abf"}'

cluster_name: "{{ .ClusterName }}"
create_users: true
grab_cluster_info: false
certificate_issuer: letsencrypt-prod
slack_channel: "{{ .SlackChannel }}"
configure_external_snapshots_repo_ro: true
#{{- $username := "unknown" }}
#{{- if .User }}
#{{ $username = .User }}
#{{- end }}
#{{- if .Username }}
#{{ $username = .Username }}
#{{- end }}
oblt_username: "{{ $username }}"
expire_date: '{{ now | mustDateModify "+720h" | date "2006-01-02" }}'

stack:
  version: "{{ .StackVersion }}"
  mode: ess
  template: observability
  target: production
  observability: true
  ess:
#{{- if .ElasticsearchDockerImage }}
    elasticsearch:
      image: "{{ .ElasticsearchDockerImage }}"
#{{- end }}
#{{- if .KibanaDockerImage }}
    kibana:
      image: "{{ .KibanaDockerImage }}"
#{{- end }}
#{{- if .ElasticAgentDockerImage }}
    integrations:
      image: "{{ .ElasticAgentDockerImage }}"
#{{- end }}
