---
apiVersion: v1
kind: LimitRange
metadata:
  name: cpu-limit-range
  namespace: {{ k8s_default_namespace }}
spec:
  limits:
  - default:
      cpu: 0.5
      memory: 100Mi
    defaultRequest:
      cpu: 0.25
      memory: 50Mi
    type: Container
---
apiVersion: v1
kind: LimitRange
metadata:
  name: cpu-limit-range
  namespace: {{ kube_system_namespace }}
spec:
  limits:
  - default:
      cpu: 0.5
      memory: 100Mi
    defaultRequest:
      cpu: 0.25
      memory: 50Mi
    type: Container
